.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
  background: linear-gradient(to right, #a7d0cd, #9fbced);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  height: 50px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  color: #2c2c54;
  font-size: 16px;
}

.icon-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 18px;
  color: #2c2c54;
}

.login {
  font-weight: bold;
  color: #2c2c54;
  margin-left: 8px;
}

.user-menu-container {
  position: relative;
  display: inline-block;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

/* Dropdown ẩn mặc định */
.user-dropdown {
  display: none;
  position: absolute;
  top: 120%; /* nằm dưới icon */
  right: -50px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  min-width: 140px;
  font-size: 1.5rem;
}

/* Hiện dropdown khi hover */
.user-menu-container:hover .user-dropdown {
  display: block;
}

.user-dropdown a {
  display: block;
  padding: 10px 16px;
  border-radius: 8px;
  color: #dd0051;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.user-dropdown a:hover {
  background-color: #f3f3f3;
}

/*dropdown luyen tap*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
   text-decoration: none;
  font-weight: bold;
  color: #2c2c54;
  font-size: 16px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 20px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
