.learning-path {
  padding: 30px;
  background: #f3f3f5;
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
}

.learning-path h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.bar {
  flex: 1;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  max-width: 500px;
}

.fill {
  height: 100%;
  background-color: #00C9F5;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

.summary {
  text-align: left;
  max-width: 500px;
  margin: 0 auto 30px;
}

.day-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 50px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.day-card {
  background: #fff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

.day-card h3 {
  margin: 0;
  font-size: 20px;
}

.day-card p {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0;
}

.status {
  margin-top: 12px;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #eee;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 8px;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  border-radius: 6px;
  transition: width 0.3s ease;
}

.status-label {
  font-size: 14px;
  font-weight: 500;
  color: #444;
}
.status.done .status-label {
  color: green;
}
.status.pending .status-label {
  color: orange;
}

.analysis-box {
  padding: 20px 25px;
  margin-bottom: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.analysis-box h3 {
  margin-top: 0;
  font-size: 2rem;
  color: #007BFF;
  margin-bottom: 10px;
}

.analysis-box p {
 background-color: #f4faff;
  border: 2px solid #b2dfff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
